<div class="top-search-wapper" id="top-search-box">
    <form>
        <input autocomplete="off" type="text" id="local-search-input" name="q" results="0" placeholder="搜索..." class="st-search-input st-default-search-input form-control"/>
        <img src="/docs/img/header_search.png" class="search-btn" id="search-btn">
    </form>
</div>

<!-- 移动端样式 -->
<div class="top-search-box-mobile" id="top-search-box-mobile">
    <form>
        <input autocomplete="off" type="text" id="local-search-input-mobile" name="q" results="0" placeholder="搜索..." class="st-search-input st-default-search-input form-control"/>
         <button type="reset" class="reset-search-btn"></button>  
         <div class="search-btn-mobile" id="search-btn-mobile"></div>
    </form>
</div>

<!-- sug搜索 -->
<div class="top-search-sug" id="top-search-sug">
</div>