<div class="top-search-box top-search-wapper top-search" id="top-search-box">
    <form>
        <input autocomplete="off" type="text" id="local-search-input" name="q" results="0" placeholder="搜索..." class="st-search-input st-default-search-input form-control"/>
        <!-- <button type="reset" class="reset-search-btn"></button>   -->
        <div class="search-btn"></div>
    </form>
<!-- </div> -->
    <div class="top-search-sug" id="top-search-sug">
        <!-- <div class="top-search-sug-docs-empty">
            <a href="">文档没有相关内容，查看社区搜索结果 ></a>
        </div> -->
        <!-- <div class="top-search-sug-item">
            <div class="sug-item-broad-name">开发</div>
            <ul>
                <li>
                    <a href="https://smartprogram.baidu.com/docs/develop/framework/custom-component/">
                        <span class="sug-item-tag">API开发开发</span>
                        <span class="sug-item-content">
                            <p class="sug-item-content-title">title</p>
                            <p class="sug-item-content-des">title</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://smartprogram.baidu.com/docs/develop/framework/custom-component/">
                        <span class="sug-item-tag">API开发开发</span>
                        <span class="sug-item-content">
                            <p class="sug-item-content-title">title</p>
                            <p class="sug-item-content-des">title</p>
                        </span>
                    </a>
                </li>
               <li>
                    <a href="https://smartprogram.baidu.com/docs/develop/framework/custom-component/">
                        <span class="sug-item-tag">API开发开发</span>
                        <span class="sug-item-content">
                            <p class="sug-item-content-title">title</p>
                            <p class="sug-item-content-des">title</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-search-sug-more">
            <a href="https://smartprogram.baidu.com/forum/search?word=小程序&scope=devdocs" target="_blank">
                查看更多 >
            </a>
        </div> -->
    </div>
</div>